@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    width: 100%;
    background-color: rgb(100 116 139);
    padding: 0 1rem;
}
.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  